.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  padding: 0;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  /*outline:1px solid red;*/
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
body {
  background-color: #79818f;
}
.magic {
  font-weight: 600;
}
/* SOME OVERRIDES */
.header {
  border-bottom: 1px solid transparent;
  /*#e5e5e5*/
}
.footer {
  border-top: 1px solid transparent;
  /*#e5e5e5*/
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #d6d8dc;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #d6d8dc;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #d6d8dc;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #d6d8dc;
}
:placeholder-shown {
  /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: #d6d8dc;
}
input:focus {
  outline: 0;
}
.merry-title {
  font-family: 'Merriweather', serif;
  font-size: 74px;
  /*72.37px;*/
  color: #fff;
}
.merry-descr {
  display: block;
  position: relative;
  top: 6px;
  margin: 0px 0 0 2px;
  width: 75%;
  font-size: 24px;
  color: #8ef8e8;
  line-height: 1.2;
}
.content.main {
  margin-top: 80px;
  position: relative;
  /*
		odd f2f3f4
		even bcc0c7
	*/
}
.content.main .tab-bar {
  width: auto;
  height: 58px;
  border: 1px solid sivler;
  background-color: #9ba7b7;
  font-size: 24px;
  bold: true;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 58px;
}
.content.main .tab-bar.minor {
  border: 1px;
  font-size: 20px;
}
.content.main .tab-bar.minor.active {
  color: steelblue;
}
.content.main .itemcontainer {
  display: block;
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 332px;
  list-style: none;
  overflow-y: scroll;
}
.content.main .itemcontainer::-webkit-scrollbar {
  width: 0 !important ;
  display: none !important;
  height: 0px !important;
}
.content.main .listitem {
  min-height: 40px;
  border: 1px solid silver;
  color: #5a5a5a;
  line-height: 40px;
  padding: 5px;
  text-transform: uppercase;
  position: relative;
}
.content.main .listitem .item-name {
  display: inline-block;
}
.content.main .listitem .fa-remove {
  display: block;
  position: absolute;
  font-size: 24px;
  font-weight: 100;
  margin: 0px 0 0 2px;
  color: #5a5a5a !important;
}
.content.main .listitem .item-closer {
  display: inline-block;
  position: relative;
  cursor: pointer;
  float: right;
  margin: 6px 4px 0 0;
  width: 26px;
  height: 26px;
  border: 1px solid #ababab;
  border-radius: 6px;
}
.content.main .listitem .item-closer:hover {
  border: 1px solid steelblue;
}
.content.main .listitem .item-closer:hover .fa-remove {
  color: steelblue!important;
}
.content.main .listitem:nth-child(odd) {
  background-color: #f2f3f4;
}
.content.main .listitem:nth-child(odd) .fa {
  /*color:#5a5a5a !important;*/
}
.content.main .listitem:nth-child(even) {
  background-color: #bcc0c7;
  color: #fff;
}
.content.main .listitem:nth-child(even) .fa {
  /*color:#5a5a5a !important;*/
}
.content.main .box-input {
  margin-top: 10px;
  width: auto;
  height: 72px;
  border: 4px solid #fff;
  background-color: #9ba1ab;
  cursor: default;
  /* */
  line-height: 70px;
  font-weight: 100;
  padding-left: 10px;
  font-size: 16px;
  color: #d6d8dc;
  text-transform: uppercase;
}
.content.main .box-input input[type="input"] {
  background-color: transparent !important;
  border: none;
  text-transform: uppercase;
}
.content.main .box-input .fa-caret-down {
  color: #fff;
  font-size: 20px;
  float: right;
  margin-right: 14px;
  line-height: 70px;
}
.content.main .box-input .fa-search {
  color: #fff;
  font-size: 20px;
  float: right;
  margin-right: 14px;
  line-height: 45px;
}
.content.main .box-input.entry {
  margin-top: 0;
}
.content.main .box-input.chooser {
  cursor: pointer;
}
.content.main .box-input.search {
  position: absolute;
  height: 52px;
  line-height: 46px;
  bottom: 0;
  width: calc(100% - 15px);
}
.content.main .box-input.search input[type="search"] {
  background-color: transparent !important;
  border: none;
  text-transform: uppercase;
}
.content.main .box-input.button {
  text-align: center;
  cursor: pointer;
}
.content.main .box-input.button:hover {
  background-color: #9ba7b7;
}
.content.main .box-input.button.disabled {
  pointer-events: none;
  background-color: #ccc;
  color: #ababab;
}
.content.main .chooser-item {
  border: 1px solid silver;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #f2f3f4;
}
.content.main .chooser-item:hover {
  background-color: #bcc0c7;
  color: #fff;
}
.content.main .chooser-item.active {
  color: steelblue;
}
.content.main .chooser-dd {
  opacity: 0;
  pointer-events: none;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ababab;
}
.content.main .chooser-dd li {
  height: 20px;
  line-height: 20px;
}
.content.main .chooser-dd.active {
  opacity: 1;
  pointer-events: all;
}
.content.main .boxes {
  margin-top: 20px;
}
.content.main .leftbox {
  padding-left: 0;
}
.content.main .listbox {
  min-height: 400px;
}
.content.main .listbox.list {
  background-color: #fff;
  /*padding-left: 2px;
		padding-right:2px;*/
  padding: 4px;
}
