
@import 'main.less';

body{
	background-color:#79818f;
}
.magic{
	// color:orange !important;
	font-weight: 600;
}

/* SOME OVERRIDES */
.header {
	border-bottom: 1px solid transparent;/*#e5e5e5*/;
}

.footer {
	border-top: 1px solid transparent;/*#e5e5e5*/;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #d6d8dc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #d6d8dc;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #d6d8dc;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #d6d8dc;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #d6d8dc;
}

input:focus {outline:0;}

.merry-title{

	font-family: 'Merriweather', serif;
	font-size:74px;/*72.37px;*/
	color:#fff;
}
.merry-descr{
	display:block;
	position:relative;
	top:6px;
	margin:0px 0 0 2px;
	width:75%;
	font-size:24px;
	color:#8ef8e8;
	line-height: 1.2;

}

.content.main {
	margin-top:80px;
	position:relative;


	.tab-bar {
		width:auto;
		height:58px;
		border:1px solid sivler;
		background-color: #9ba7b7;
		font-size:24px;
		bold:true;
		color:#fff;
		text-align: center;
		text-transform: uppercase;
		line-height: 58px;
	}

	.tab-bar.minor {
		border:1px;
		font-size:20px;
	}
	.tab-bar.minor.active {
		color:steelblue;
	}

	.itemcontainer{
		display:block;
		position:relative;
		background-color: #fff;
		width:100%;
		height:332px;
		list-style: none;
		overflow-y: scroll;
	}
	.itemcontainer::-webkit-scrollbar { 
	    width: 0 !important ;
	    display:none !important;
	    height: 0px !important;
	} 

	

	/*
		odd f2f3f4
		even bcc0c7
	*/
	.listitem{
		min-height: 40px;
		border:1px solid silver;
		color:#5a5a5a;
		line-height: 40px;
		padding:5px;
		text-transform: uppercase;
		position:relative;

		.item-name{
			display:inline-block;
		}
		.fa-remove{
			display:block;
			position:absolute;
			font-size:24px;
			font-weight: 100;
			margin:0px 0 0 2px;
			color:#5a5a5a !important;
		}
		.item-closer {
			display:inline-block;
			position:relative;
			cursor:pointer;
			float:right;
			margin:6px 4px 0 0;
			width:26px;
			height:26px;
			border:1px solid #ababab;
			border-radius: 6px;
		}
		.item-closer:hover {
			border:1px solid steelblue;
			.fa-remove{
				color:steelblue!important;
			}
		}
	}

	.listitem:nth-child(odd) {

  		background-color: #f2f3f4;
  		.fa{
  			
			/*color:#5a5a5a !important;*/
		}
	}
	.listitem:nth-child(even) {
  		background-color: #bcc0c7;
  		color:#fff;
  		.fa{;
			/*color:#5a5a5a !important;*/
		}
  	}

	.box-input{
		margin-top:10px;
		width:auto;
		height:72px;
		border:4px solid #fff; 
		background-color: #9ba1ab;
		cursor:default;
		/* */
		line-height: 70px;
		font-weight: 100;
		padding-left:10px;
		font-size:16px;
		color:#d6d8dc;
		text-transform: uppercase;
		input[type="input"] {
			background-color:transparent !important;
			border:none;
			select:none;
			text-transform: uppercase;
		}
		.chooser{
			
		}
		.fa-caret-down{
			color:#fff;
			font-size:20px;
			float:right;
			margin-right:14px;
			line-height: 70px;
		}
	}
	.box-input.chooser{
		cursor: pointer;
	}	
	.box-input.search {
		position:absolute;
		height:52px;
		line-height: 50px;
		bottom:0;
		width: ~"calc(100% - 15px)";
	}
	.box-input.button {
		text-align: center;
		cursor: pointer;
	}
	.box-input.button:hover {
		background-color: #9ba7b7;
		
	}
	.box-input.button.disabled{
		pointer-events: none;
		background-color: #ccc;
		color:#ababab;
	}
	.chooser-item{
		border:1px solid silver;
		padding:10px;
		cursor: pointer;
		text-transform: uppercase;
		background-color: #f2f3f4;
	}
	.chooser-item:hover{
		background-color: #bcc0c7;
		color:#fff;
	}

	.chooser-item.active {
		color:steelblue;
	}

	.chooser-dd{
		opacity:0;
		pointer-events: none;
		width:100%;
		background-color: #fff;
		border:1px solid #ababab;
		li {
			height: 20px;
			line-height: 20px;
		}
	}
	.chooser-dd.active{
		opacity:1;
		pointer-events: all;
	}
	.boxes {
		margin-top:20px;

	}
	.leftbox{
		padding-left:0;
	}
	.listbox{
		min-height: 400px;
	}
	.listbox.list{
		background-color: #fff;
		/*padding-left: 2px;
		padding-right:2px;*/
		padding:4px;

	}
}
