<div class="container">

  <p class="lead">
    <!-- <img src="images/yeoman.png" alt="I'm Yeoman"><br> -->
    <!-- Always a pleasure scaffolding your apps. -->
    <h3 class="merry-title"><i>Marvelous!</i></h3>
    <div class="merry-descr"><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</span></div>
  </p>
  <div class="content main">
    <div class="row">
      <div class="tab-bar">Add Item</div>
    </div>

    <div class="row boxes">

        <!-- LEFT UI THINGS -->
        <div class="col-md-4 listbox leftbox">
          <!-- <div class="basic-btn">Add Item</div>   -->
          <div class="box-input">
            <input type="text" placeholder="ENTER ITEM" mg-model="enteredText"/>
          </div>  
          <div class="box-input">Choose Column</div>  

          <!-- BUTTON GOES HERE. -->

          <div class="box-input search">SEARCH</div> 
        </div>

        <!-- LISTBOX 1-->
        <div class="col-md-4 listbox list">
          <div class="tab-bar minor">column 1</div>
          <div class="itemcontainer">
            <li  class="list-item" ng-repeat="item in mc.list1">
              <div class="item-name" ng-bind="item.name"></div>
              <div class="item-closer"></div>
            </li>
          </div>
        </div>
        <!-- END LISTBOX 1-->
        <!-- LISTBOX 2-->
        <div class="col-md-4 listbox list">
          <div class="tab-bar minor">column 2</div>
          <div class="itemcontainer">
            <li class="list-item" ng-repeat="other in mc.list2">
              <div class="item-name" ng-bind="other.name"></div>
              <div class="item-closer"></div>
            </li>
          </div>
        </div>
        <!-- END LISTBOX 2-->
    </div>

  </div>
</div>

